:root{
   --verde_claro:#dce9e2;
   --verde_escuro:#00856F;
   --branco:#f7f9f9;
   --cinza:#DCE9E2;
   
   font-family: 'DM Sans', sans-serif;
}

/* Cabecalho  */
.cabecalho{
   background-color: var(--verde_claro);
   padding: 2% 0;
}

.cabecalho_conteudo{
   width: 90%;
   margin: 0 auto;
}

.cabecalho_conteudo .container{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo_cabecalho{
   font-size: 20px;
   font-weight: 500;
   letter-spacing: 0.03em;
}

.logo_cabecalho span{
   color: var(--verde_escuro);
}

.menu_lista_cabecalho{
   display: flex;
   justify-content: center;
   gap: 10%;
}

.item_menu_cabecalho{
   font-size: 16px;
   font-weight: 400;
   color: var(--verde_escuro);
}

.bt_agendar_cabecalho{
   text-decoration: none;
   text-transform: uppercase;
   font-size: 12px;
   font-weight: 500;
   color: var(--verde_escuro);
   border: 1px solid var(--verde_escuro);
   border-radius: 20px;
   padding: 0.8% 1.5%;
}


/* Intro */
.intro{
   background-color: var(--verde_claro);
}

.intro .container{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0 auto;
   width: 90%;
}

.conteudo_texto_intro{
   width: 50%;
}

.txt_intro{
   font-weight: 700;
   text-transform: uppercase;
   font-size: 14px;
   color: var(--verde_escuro);
   line-height: 2.0em;
}

.titulo_intro{
   font-size: 52px;
   font-weight: 700;
   line-height: 1.2em;
   color: #212529;
}

.sub_titulo_intro{
   color: #495057;
   line-height: 1.6em;
   padding: 5% 0;
}

.bt_agende{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   width: 30%;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 12px;
   font-weight: 500;
   color:#ffffff;
   background-color: var(--verde_escuro);
   border-radius: 20px;
   padding: 1.6% 2%;
}

.bt_agende .icon img{
   width: 20px;
   height: 20px;
}

.ilustracao{
   width: 40%;
}


/* Dados */

.dados{
   background-color: var(--branco);
}

.dados .container{
   display: flex;
   justify-content: space-around;
   background-color: #ffffff;
   position: relative;
   top: -50px;
   height: auto;
   padding: 3% 0%;
   box-sizing: border-box;
   width: 90%;
   margin: 0 auto;
   
}

.card_dados{
   border-right: 1px solid #00856f54;
   padding: 0% 6%;
   text-align: center;
}

.card_dados:last-child{
   border: none;
}

.txt_card_dados{
   font-size: 38px;
   font-weight: 700;
   line-height: 1.8em;
}

.txt_card_dados::before{
   content: '+';
}

.titulo_card_dados{
   color: var(--verde_escuro);
   font-weight: 500;
   font-size: 15px;
}


/* Serviços */
.servicos{
   background-color: var(--branco);
   margin: 0 auto;
}

.conteudo_texto_servicos{
   text-align: center;
   width: 40%;
   margin: 0 auto;
}

.sub_titulo_servicos{
   color: var(--verde_escuro);
   font-size: 13px;
   font-weight: 700;
   text-transform: uppercase;
   line-height: 1.5em;
}

.titulo_servicos{
   font-weight: 700;
   line-height: 1.2em;
   font-size: 40px;
}

.servicos .container{
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   row-gap: 50px;
   width: 90%;
   margin: 5% auto;
}

.card_sevicos{
   background-color: #ffffff;
   width: 25%;
   padding: 2% 2%;
   border: 1px solid #95959554;
   box-shadow: 0px 5px 5px #87878760;
   
   display: flex;
   flex-direction: column;
   row-gap: 15px;
}

.icon_card_servicos{
   width: 25px;
}

.titulo_card_servicos{
   font-weight: 700;
   font-size: 22px;
   color: #212529;
}

.txt_card_servicos{
   font-size: 14px;
   color: #495057;
   line-height: 1.5em;
}


/* Sobre nos */
.sobre_nos{
   width: 90%;
   margin: 10% auto;
}

.sobre_nos .container{
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.conteudo_texto_sobre_nos{
   display: flex;
   flex-direction: column;
   row-gap: 25px;
   width: 45%;
}

.sub_titulo_sobre_nos{
   color: var(--verde_escuro);
   font-size: 13px;
   font-weight: 700;
   text-transform: uppercase;
   line-height: 1.5em;
}

.titulo_sobre_nos{
   font-weight: 700;
   line-height: 1.2em;
   font-size: 40px;
}

.txt_sobre_nos{
   font-size: 14px;
   color: #495057;
   line-height: 1.5em;
}



/* Contato*/
.contato{
   width: 90%;
   margin:  10% auto;
}

.contato .container{
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.conteudo_texto_contato{
   display: flex;
   flex-direction: column;
   row-gap: 30px;
   width: 30%;
}

.titulo_contato{
   font-weight: 700;
   line-height: 1.0em;
   font-size: 40px;
}

.endereco{
   color: #495057;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5em;
}

.icon_rua, .icon_email{
   vertical-align: top;
}

.bt_agende_contato{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   width: 55%;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 12px;
   font-weight: 500;
   color:#ffffff;
   background-color: var(--verde_escuro);
   border-radius: 20px;
   padding: 2.6% 2%;
}

.bt_agende_contato .icon img{
   width: 20px;
   height: 20px;
}


/* rodape */
.rodape{
   background-color: var(--verde_escuro);
   padding: 5% 0;
}

.rodape .container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
   width: 90%;
}

.conteudo_texto_rodape{
   color: #ffffff;
}

.titulo_rodape{
   font-size: 28px;
   font-weight: 100;
}

.titulo_rodape span{
   font-weight: 500;
   letter-spacing: 0.1em;
}

.txt_rodape{
   font-size: 14px;
   line-height: 2.5em;
   color: #FFFAF1;
}

.redes_sociais_rodape{
   display: flex;
   gap: 40px;
}

